.ustav {
    text-align: left;
    margin-left: 300px;
    height: 300px; 
    float: none;
}
h1, h2 {
    text-align: center;
    float: none;
   
     
}

 #ustav {
    float: left;
 }
 
 
 .kritika{
    text-align: left;
    height: 500;
    float: none;
 }

 span {
  text-decoration: line-through;
 }

 .header {
   width: 1800px;
   height: 70px;
   border-bottom:4px solid silver ;
   background-color: dodgerblue;
   padding-top: 45px;
   padding-left: 680px;
 }

 #Struktura_foto{
   float: left;
 }



 .O_strukrure{
     margin-left: 650;
     margin-top: 200px;
 }

 .footer {
  width: 1800px;
  height: 70px;
  border-bottom:4px solid silver ;
  background-color: dodgerblue;
  padding-top: 45px;
  padding-left: 600px;
}

.footer:hover{
  color: red;
}

.header_kritika {
  width: 1800px;
  height: 70px;
  border-bottom:4px solid silver ;
  background-color: black;
  padding-top: 45px;
  padding-left: 680px;
  color: #34eb74
}

.footer_kritika {
  width: 1800px;
  height: 10px;
  border-bottom:4px solid silver ;
  background-color: black;
  padding-top: 45px;
  padding-left: 600px;
  margin-bottom: 2px;
  float: right;
}

#kritika{
  float: left;
}

#Sutka{
  float:left;
}

.selection_form{
  height: 100px;
  width: 100px;
}

